body{
    width: 100%;
    margin: auto 0;
    background-color: #fff;
}

header{
    text-align: center;
}

header p{
    color: #333;
    padding-left: 50px;
    padding-right: 50px;
}

#links{
    padding-left: 50px;
}

#links ul{
    list-style-type: none;
    padding: 0;
}

#links ul h4{
    margin-bottom: 10px;
}